@font-face {
    font-family: 'FreeSerif';
    src: url('../fonts/FreeSerif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('../fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}