.container {
    padding: 16px;
    height: 100%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radioGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.label {
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    color: #333;
}

.label:hover {
    color: #5dade2;
}
